body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 175, 175);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(100, 100, 100) rgb(200, 200, 200);
    scrollbar-gutter: stable;
}

.main-button-box{
    border:black solid 2px;
    padding:10px;
    text-align:left;
    background-color: rgb(200, 200, 200);
    margin: 20px;
}

.header-dice-button-class {
    background-color: rgb(175, 175, 175);
    padding: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.main-click-dice-button {
    width:200px;
    height:200px;
    background-image: url("/static/images/Dice_Image_KC_Clicker.png");
    background-size: cover;
    border:black solid 2px;
    cursor: pointer;
}

.dice-count-class {
    font-size: 18px;
    margin-top: 20px;
    color: black;
}

.Button-container-class{
    border:black solid 2px;
    padding:10px;
    text-align:left;
    background-color: rgb(200, 200, 200);
    margin: 20px;
    height:800px;
}

.thirty-ninth-street-button-class {
    width:150px;
    height:195px;
    background-image: url("/static/images/39TH_Street.png");
    background-size: cover;
    border:none;
    cursor: pointer;
}

.button-label-class {
  display: inline-block;
  margin-left: 12px;
  font-size: 16px;
  color: black;
}

.footer-class {
    background-color: rgb(175, 175, 175);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: grey
}