body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header-class {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.content-class {
    margin: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.footer-class {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: grey
}